extends common/_layout
block navbar
    navDemo = 'active'
    include common/_navbar
block content
    p
        a(href="/socket") socket.io 聊天室
    p
        a(href="/users") mysql 查询
    p
        a(href="/mail") kindeditor 编辑器 发送Email
    p
        a(href="/upload") 图片上传