extends common/_layout
block navbar
    navIndex = 'active'
    include common/_navbar
block content
    // Main hero unit for a primary marketing message or call to action
    .hero-unit
        #photoBox.pics
            img(src="./imgs/lenovo_001.jpg")
            img(src="./imgs/lenovo_002.jpg")
            img(src="./imgs/lenovo_003.jpg")
block script
    script(charset="UTF-8", src="javascripts/jquery.lazyload.js")
    script(charset="UTF-8")
        $(function(){
            $("img").lazyload();
            $('#photoBox').cycle({
                 fx:     'shuffle',
                easing: 'easeOutBack',
                delay:  -4000
            });
        });