extends common/_layout
block meta
    style(type="text/css")
        .text-error {
            position: absolute;
            bottom: -16px;
            left: 0;
            padding: 2px;
            background: #f2dede;
            font-size: 12px;
            color: #a42625;
            line-height: 1;
        }

block navbar
    navLogin = 'active'
    include common/_navbar
block content
    .min-inner.session-edge
        h2.big-title 登录
        p.title-description 我们推荐您使用下列第三方帐号登录，无需注册更安全
        .auth-login
            p
                a(class="auth-big", href="/user/oauth/weibo")
                    img(src="/imgs/auth-weibo.png", alt="新浪微博")
                    |新浪微博
                a(class="auth-big", href="/user/oauth/qq")
                    img(src="/imgs/auth-qq.png", alt="腾讯微博")
                    |腾讯微博
        .login
            |或者使用本站帐号登录 (
            a(href="./signup") 注册
            |或
            a(href="./forgot") 找回密码
            |)
            form(action="login", method="post")
                p
                    label(for="mail") Email 地址
                    input(class="text-34", type="email", name="user[email]", required)
                    if(locals.errors)
                        span.text-error 电子邮箱格式错误
                p
                    label(for="password") 登录密码
                    input(class="text-34", type="password", name="user[pwd]", required)
                    if(locals.errors)
                        span.text-error 电子邮箱格式错误
                input(class="btn btn-primary", type="submit", value="登录")
                div
                    input(type="checkbox", name="remember", value="1", checked)
                    |下次自动登录
block script
    script(src="/javascripts/jquery.form.js", charset="UTF-8")
    // use ajax submit
    script(charset="UTF-8")
        $(function(){
            $('form').ajaxForm({
                dataType:  'json',
                success: function(data){
                    alert(JSON.stringify(data));
                }
            });
        });
