extends common/_layout
block meta

block navbar
    navLogin = 'active'
    include common/_navbar
block content
    .min-inner.session-edge
        h2.big-title 登录
        p.title-description 我们推荐您使用下列第三方帐号登录，无需注册更安全
        .auth-login
            p
                a(class="auth-big", href="/user/oauth/weibo")
                    img(src="/imgs/auth-weibo.png", alt="新浪微博")
                    |新浪微博
                a(class="auth-big", href="/user/oauth/qq")
                    img(src="/imgs/auth-qq.png", alt="腾讯微博")
                    |腾讯微博
        .login
            |或者使用本站帐号登录 (
            a(href="./signup") 注册
            |或
            a(href="./forgot") 找回密码
            |)
            form(action="login", method="post")
                p
                    label(for="mail") Email 地址
                    input.text-34(type="email", name="user[email]", required)
                p
                    label(for="password") 登录密码
                    input.text-34(type="password", name="user[pwd]", pattern="[A-Za-z0-9_]{6,16}", required)
                input.btn.btn-primary(type="submit", value="登录")
                div
                    input(type="checkbox", name="remember", value="1", checked)
                    |下次自动登录
block script

