extends common/_layout
block meta
    style(type="text/css")

block navbar
    navSignup = 'active'
    include common/_navbar
block content
    .min-inner.session-edge.session-finished
        h2.big-title 注册成功
        p
            欢迎您 孤独的根号3，我们给您的邮箱 lcm-596392912@qq.com
            br
            |发送了一封激活邮件，记得查收并确认哦
        p
            a(href="/")
                |回首页
            |或
            a(target="_blank", href="http://mail.qq.com/")
                |前往邮箱 →

