extends common/_layout

block navbar
    navDemo = 'active'
    include common/_navbar
block content
  h2 Welcome to snode!
  h3 snode 技术交流聊天室！
  p.marquee
  .window
    .win_top
      .left
      .rigth
        p 在线用户
    .win_bot
      textarea(autofocus="true", placeholder="请输入...")
      input(class="submit", type="submit", value="发送")
      input(class="reset", type="reset", value="清除")
  p#msg 有意见或好的建议请联系：596392912@qq.com thanks!
  script(src='/javascripts/index-socket.js', charset='utf-8')
  block script
    script(src='/javascripts/socket.io.min.js', charset='utf-8')