.chromeframe {
  padding: 8px 0;
  border-width: 1px 0;
  width: 100%;
  text-align: center; }
  .chromeframe a {
    padding: 2px 4px;
    background: #9a4444;
    color: #FFF; }
    .chromeframe a:hover {
      color: #FFF; }

.btn-small,
.btn-regular,
.btn-medium,
.btn-big {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#EAEAEA'); }
  .btn-small:hover, .btn-small.btn-disabled,
  .btn-regular:hover,
  .btn-regular.btn-disabled,
  .btn-medium:hover,
  .btn-medium.btn-disabled,
  .btn-big:hover,
  .btn-big.btn-disabled {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#D6D6D6'); }

.action {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#D9F0E7'); }
  .action:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#C0E6D8'); }

#header {
  *position: absolute; }

#nav > li {
  *display: inline; }

.post .meta .meta-tags li {
  *display: inline;
  *padding-left: 4px; }

.big-avatar-img {
  border: 1px solid #DDD; }

#search-box a {
  vertical-align: middle; }

.pop-window {
  border: 1px solid #AAA; }

.file-upload .file {
  filter: alpha(opacity=0); }

.hor-count li {
  *display: inline; }

.auth-big img, .auth-small img {
  *vertical-align: middle; }

.login-warn {
  background: url(data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw%3D%3D); }

#my-account .my-avatar a,
#tag-detail .tag-detail-img .upload-tag-img {
  background-color: #2A2A2A; }
