// Navbar start
.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
        .container
            span.brand Snode
            .btn-group.pull-right
                a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
                    i.icon-user
                    span.hidden-phone #{locals.admin.email}
                    span.caret
                ul.dropdown-menu
                    li
                        a(href="/admin/logout") Logout
// Navbar end
