.well.sidebar-nav
    ul.nav.nav-list
        li.nav-header User
        li.active
            a(href="#") User List
        li
            a(href="#") User Add
        li
            a(href="#") User Edit
        li
            a(href="#") User Delete
        li.nav-header Blog
        li
            a(href="#") Blog List
        li
            a(href="#") Blog Add
        li
            a(href="#") Blog Edit
        li
            a(href="#") Blog Delete
//.well
