// footer start
footer
   div
       | 本站采用
       a(href="http://nodejs.org/", target="_blank") nodejs
       | 开发使用
       a(href="http://www.mysql.com/", target="_blank") mysql
       | 数据库，欢迎nodejs爱好者一起来学习，探讨！
   .pull-right
       div
           a(href="http://weibo.com/lcm596392912", target="_blank")
               img(src="/imgs/auth-weibo.png", alt="新浪微博")
               | &nbsp;新浪微博
           a(href="http://t.qq.com/lcm-596392912", target="_blank")
               img(src="/imgs/auth-qq.png", alt="腾讯微博")
               | &nbsp;腾讯微博
       a(target="_blank", href="https://www.appfog.com/") Appfog
       | 提供云空间和数据支持
// footer end
// 百度统计代码
script(type='text/javascript')
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff6bfc2dc33c1c4a64914ec53832fbf63' type='text/javascript'%3E%3C/script%3E"));