// Navbar start
.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
        .container
            a.brand(href="./") Snode
            form#search_form.navbar-search(action="/")
                input.search-query(type="text", name="q")
            .nav-collapse.collapse.pull-right
                ul.nav
                    //.active
                    li
                        a(href="./") 首页
                    li
                        a(href="./blog") blog
                    li
                        a(href="https://github.com/ChunMengLu/node_mysql_test", target="_blank") github
                    li
                        a(href="./demo") demo
                    li.divider-vertical
                    li
                        a(href="./signup") 注册
                    li
                        a(href="./login") 登陆
// Navbar end
